.ant_layout {
    height: 100%;
    .sider{
        background-color: #324057;
    }
    .header{
        background-color: #EFF2F7;
    }
    .content{
        padding: 40px;
        background-color: #FFFFFF;
    }
}